VITE_SUPABASE_URL= https://bktpkpaxmpodvipsblyy.supabase.co
VITE_SUPABASE_ANON_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJrdHBrcGF4bXBvZHZpcHNibHl5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTY1OTgzMzAsImV4cCI6MjA3MjE3NDMzMH0.4_mvyW5SeruKAAJZ5DIOgREyURdUWZ7RkgiDV3mLl38